@charset "UTF-8";



        .login {
            width: 500px;
            height: 400px;
            border: solid 1px black;
            margin: 20px auto;S
        }

        .login_title {
            margin: 15px 0 15px 0px;
            font-size: 20px;
            text-align: center;
        }

        .input_id {
            border: solid 1px black;
            margin: 5px 5px 5px 5px;
        }

        .input_passwd {
            border: solid 1px black;
            margin: 10px 5px 5px 5px;
        }

        .click_login,
        .click_signin {
            margin: 10px 5px 5px 5px;
            text-align: center;

        }

        .find_id_pawd {
            margin: 10px 5px 5px 0px;
            text-align: center;
        }
