@charset "UTF-8";

  .signin {
            width: 390px;
            height: 330px;
            border: solid 1px black;
            margin: 20px auto;
        }

        .signin_title {
            margin: 15px 0 15px 0px;
            font-size: 20px;
            text-align: center;
        }

        .sign_input_id {
            border: solid 1px black;
            margin: 5px 5px 5px 5px;
        }

        .sign_input_passwd,
        .sign_reinput_passwd,
        .sign_input_name,
        .sign_input_email {
            border: solid 1px black;
            margin: 10px 5px 5px 5px;
        }

        .click_signin {
            margin: 20px 5px 5px 5px;
            text-align: center;
        }