@charset "UTF-8";

 .clear{
            clear: both;
        }
        *{
            padding: 0;
            margin: 0;
        }

        header{
            width: 995px;
            height: 45px;
            margin-top: 10px;
            display: flex;
            border: solid 1px blue;
            background-color: #2c3e50;
            
        }
        #mainMenu {
            float: left;
        }
        #searchproduct{
            float: left;
            display: block;
            margin-left: 30px;
            margin-top: 5px;
        }
        #maintitle{
            float: right;
            display: block;
            margin: 0 auto;
            margin-top: 3px;
            margin-bottom: 3px;
            font-size: 30px;
            color: white;
        
        }
        #login {
            float: right;
            display: block;
            margin-right: 30px;
            
            
        }
        
        
        nav{
            width: 995px;
            height: 70px;
            margin-top: 1px;
            border: solid 1px blue;
            background-color: #2c3e50;
            
        }
        #product_title {
            clear: both;
            height: 10px;
            text-align: center;
            padding: 5px;
            font-size: 20px;
            
        }
        #product_title li {
            display: inline;

        }
        .itme {
            margin: 0 30px 0 30px;
            
        }

        section{
            width: 995px;
            height: 440px;
            float: left;
            margin-top: 10px;
            border: solid 1px blue;
        }
        #product-wrapper{
            width: 150px;
            height: 170px;
            margin: 0 auto;
            border: solid 1px black;
            
        }
        .pro_photos{
            display: inline-block;
            width: 130px;
            height: 200px;
            text-align: center;
            border: solid 1px black;
            margin: left;
            margin: 0 10px;
            margin-top: 5px;
        }
        #product-wrapper2{
            width: 150px;
            height: 170px;
            margin: 0 auto;
            border: solid 1px black;
            
        }
        .pro_photos2{
            display: inline-block;
            width: 130px;
            height: 200px;
            text-align: center;
            border: solid 1px black;
            margin: left;
            margin: 0 10px;
            margin-top: 10px;
        }

    
        footer{
            width: 995px;
            height: 60px;
            position: absolute;
            bottom: 0;
            border: soild 1px blue;
            background-color: #2c3e50;
            
        }