@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fffdef;
}
header {
  width: 90%;
  height: 70px;
  background-color: rgb(44, 62, 80);
  margin: 0 auto;
}
#maiMenu {
  float: left;
}
#searchproduct {
  float: left;
  display: block;
  margin-left: 30px;
  margin-top: 5px;
}
#maintitle {
  float: right;
  display: block;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 30px;
}
#login {
  float: right;
  display: block;
  margin-right: 30px;
}

nav {
  width: 90%;
  height: 100px;
  background-color: rgb(44, 62, 80);
  margin: 0 auto;
}
#product_title {
  clear: both;
  height: 10px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
#product_title li {
  display: inline;
}
.item {
  margin: 0 30px 0 30px;
}

section {
  overflow: hidden;
  width: 90%;
  height: 700px;
  float: left;
  margin: 0 auto;
}
section > div {
  width: 10%;
  float: left;
  height: 200px;
  margin: 6% 0 0 9%;
  border: solid 1px blue;
  border-radius: 5px;
  text-align: center;
}

footer {
  width: 90%;
  height: 100px;
  clear: both;
  margin: 0 auto;
  background-color: rgb(44, 62, 80);
}

/*화면 너비 0 ~ 1200pox*/
@media (min-width: 1220px), (max-width: 90%) {
  section > div {
    width: 23%;
  }
  section > div:ntn-child(5n) {
    display: none;
  }
}
/*화면 너비 0 ~ 768px*/
@media (max-width: 768px) {
  section > div {
    width: 31.3333%;
  }
  section > div:ntn-child(5) {
    display: block;
  }
}
/*화면 너비 0 ! 480px*/
@media (max-width: 480px) {
  section > div {
    width: 48%;
  }
  section > div:ntn-child(5n) {
    display: block;
  }
}
